{% extends "lab_8/layout/base.html" %}
{% block content %}
<section name="postFeed" id="postFeed">
    <div class="container" id="lab8">
    	<!-- <div id="login-btn">
        <button class="btn btn-primary btn-lg login" onclick="facebookLogin()">Login with Facebook</button>
      </div> -->
    </div>
</section>
{% endblock %}
