{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1>Portofolio</h1>
    <img src="https://lh3.googleusercontent.com/zW-IaDW2HL23f4rh3TsQrMGi0dFI2htB_2SbX4BcNR4EFlt5-iJbxJFJvaHqRlML94o2LV-0lUrc1Gc=w1366-h647-rw" style="border-radius: 100%; width:200; height:200" height="250" width="250"alt/>
	<hr/>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
	<hr/>
    {% endblock %}
